body {
    margin: 0;
    text-align: center;
    min-width: 400px;
    font-family: 'Open Sans', sans-serif
}

p {
    margin-top: 0px;
}

.container-Main {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width : 70%;
}

.container-Main button {
    width: 75px;
}

.container-Add {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container-Add button {
    width: 75px;
}

.container-Search {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.add-done {
    display: none;
    font-size: 30px;
    margin-top: 15px;

}

.contact-Table {
    display:flex;
    justify-content: center;
    margin: 30px auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid black;
    width: 500px;
}

.container-Search button {
    width: 75px;
    margin-top: 15px;
}

.form {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#submit-Add {
    margin: 5px;
}

.container-Delete {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.delete-done {
    display: none;
    font-size: 30px;
}

.container-Delete button {
    width: 75px;
    margin-top: 15px;
}